apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: llm-inference
spec:
  compositeTypeRef:
    apiVersion: inference.devopstoolkit.ai/v1alpha1
    kind: LLMInference
  mode: Pipeline
  pipeline:
  - step: compose-resources
    functionRef:
      name: crossplane-contrib-function-pythonic
    input:
      apiVersion: pythonic.fn.crossplane.io/v1alpha1
      kind: Composite
      composite: |
        __PYTHON_SCRIPT__
